{% extends "base.html" %}
{% block title %}  Vuelos {% endblock %}
{% block mainTitle %} Ver Vuelos {% endblock %}

{% block content %}
    <section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="table-wrap">
                        <h4 class="text-center mb-4">Vuelos</h4>
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>Vuelo</th>
					        <th>Avion</th>
					        <th>Piloto</th>
                            <th>Capacidad</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Estado</th>
                            <th>Detalle</th>
					      </tr>
					    </thead>
					    <tbody>
                        {% for flight in flights %}
					      <tr>
					        <th scope="row" class="scope" >{{ flight[0] }}</th>
					        <td>{{ flight[1] }}</td>
					        <td>{{ flight[2] }}</td>
							<td>{{ flight[3] }}</td>
							<td>{{ flight[4] }}</td>
							<td>{{ flight[5] }}</td>
							<td>{{ flight[6] }}</td>
					        <td><a href={{ url_for('view_flight', id_de_vuelo=flight[0]) }} class="btn btn-primary">Ver más</a></td>
					      </tr>
                        {% endfor %}
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}