{% extends "base.html" %}
{% block title %} Inicio de sesión {% endblock %}


{% block content %}
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post" action="{{ url_for('login') }}">
					<span class="login100-form-title p-b-43">
						Inicia sesión para continuar
					</span>
										<div class="wrap-input100 validate-input" data-validate = "Ingresa un nombre de usuario valido">
						<input class="input100" type="text" name="username">
						<span class="focus-input100"></span>
						<span class="label-input100">Nombre de usuario</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Debes ingresar una contraseña">
						<input class="input100" type="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100">Contraseña</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					<div class="text-center p-t-46 p-b-20">
						 <button class="login100-form-btn"  style="margin: 10px;">
						 <a href="{{ url_for('register')}}" style="color: #FFF;">Crear mi cuenta</a>
						</button>
					</div>

					<div class="login100-form-social flex-c-m">
						Espacio para logos
					</div>
				</form>

				<div class="login100-more" style="background-image: url('{{ url_for('static', filename='images/bg-01.jpg') }}');">
				</div>
			</div>
		</div>
	</div>
{% endblock %}